# Database
DB_URL=jdbc:mysql://localhost:3306/payguard_core
DB_USERNAME=payguard_user
DB_PASSWORD=payguard_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest